/* Your existing footer styles */
.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .green-dot {
    width: 10px;
    height: 10px;
    background-color: #00f300;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
  }